/* 지도 */
.map {
	height: 100%;
	width: 100%;
	positon:absolute;
	overflow:hidden;
}
#layoutSidenav{
	display: flex;
    position: absolute;
    overflow: auto;
    height: calc(100vh - 56px);
    width:380px;
}

::-webkit-scrollbar {
	display: none;
	 }

/* 전체화면 */
#mainDiv {
	height: 100%;
	width: 100%;
	position: absolute;
	overflow:hidden;
}

select{
	border-radius: 6px;
	
}
input[type="text"]{
	border-radius: 5px;
}
/*  */
.title{
color:white;
	font-size:20px;	
}

/* 사이드메뉴 - 침수시뮬레이션 */
.simul {
/* 	margin-left: 25px; */
	font-family: 'Noto Serif KR', serif;
	text-align:center;
}

/* 사이드메뉴 - 인자 */
.feature {
	/* text-align: center; */
	margin-left: 105px;
	font-family: 'Noto Serif KR', serif;
}

.feature2 {
	/* text-align: center; */
	font-family: 'Noto Serif KR', serif;
	
}

.all{
	font-size: 11px;
	margin-top: 10px;
}

#indexDiv {
	background-color: #258fff;
	height: 160px;
	padding: 3px;
	color: #FFFFFF;
	font-size: 35px;
	text-align: center;
	font-family: 'Do Hyeon', sans-serif;
}

/* 배수분구 팝업 */
#drainagePopDiv {
	position: absolute;
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: 4px;
	padding: 2px;
	bottom: 280px;
	right: 960px;
	height: 30px;
	width: 200px;
	font-family: 'Noto Serif KR', serif;
	display: none;
}

#drainagePopDiv>div {
	margin: 0 auto;
	text-align: center;
/* 	margin-left : 60px; */
}

#infoDiv {
	position: absolute;
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: 4px;
	padding: 2px;
	height: 30px;
	width: 100px;
	display: none;
	text-align: center;
}

/* 기본침수 범례 */
#legendDiv {
	position: absolute;
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: 4px;
	padding: 2px;
	bottom: 75px;
	right: 70px;
	height: 180px;
	width: 275px;
	font-family: 'Noto Serif KR', serif;
	display: none;
}

#legendDiv>div {
	margin: 0 auto;
	margin-left : 60px;
}

#element {
	display:inline-block;
	margin: 0 auto;
	width:50px;
	height:25px;
}

#legendDiv>#divTitle {
	margin: 0 auto;
	text-align: center;
}

#legendDiv>#legendTitle {
	margin: 0 auto;
	text-align: right;
	float:left;
}

/* 종합 및 인자 범례 */
#factorLegendDiv {
	position: absolute;
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: 4px;
	padding: 2px;
	bottom: 75px;
	right: 70px;
	height: 202px;
	width: 335px;
	font-family: 'Noto Serif KR', serif;
	display: none;
}

#factorLegendDiv>div {
	margin: 0 auto;
	margin-left : 60px;
}

#factorElement {
	display:inline-block;
	margin: 0 auto;
/* 	width:60px; */
	height:25px;
	
}

.factorElement{
	display:inline-block;
	margin: 0 auto;
/* 	width:60px; */
	height:25px;
	font-size: 14px;
	vertical-align:top;
	line-height:27px;
}

#factorLegendDiv>#divTitle {
	margin: 0 auto;
	text-align: center;
}

#factorLegendDiv>#legendTitle {
	margin: 0 auto;
	text-align: right;
	float:left;
}

/* 가중치 input-text */
.weight {
	width: 60px;
	height:28px;
	float: right;
	text-align: center; 
	margin-right: 30px;
	font-family: 'Noto Serif KR', serif;
}

/* 기본가중치 input-text */
.weightDefault {
	width: 60px;
	height:28px;
	float: right;
	text-align: center; 
	font-family: 'Noto Serif KR', serif;
}

.weightSums {
	width: 60px;
	height:28px;
	float: right;
	text-align: center; 
	margin-right: 30px;
	font-family: 'Noto Serif KR', serif;
}

.weightSumDefault {
	width: 60px;
	height:28px;
	float: right;
	text-align: center; 
	font-family: 'Noto Serif KR', serif;
}

/* 가중치타이틀 */
#weightTitle {
	width: 60px;
	float: right;
	text-align: center;
	margin-right: 30px;
	margin-bottom: 0px;
	font-family: 'Noto Serif KR', serif;
	font-size:13px;
	margin-top:5px;
}

/* 기본가중치타이틀 */
#weightDefaultTitle {
	width: 60px;
	float: right;
	text-align: center;
	margin-bottom: 0px;
	font-family: 'Noto Serif KR', serif;
	font-size: 13px;
	margin-top:5px;
}

.linkLine {
	width: 118px;
	height: 1px;
	background: #9f9f9f;
	vertical-align: middle;
	margin-left: 5px;
	margin-bottom: 5px;
	display: inline-block;	
}

.linkLineLong {
	width: 87px;
	height: 1px;
	background: #9f9f9f;
	vertical-align: middle;
	margin-left: 5px;
	margin-bottom: 5px;
	display: inline-block;	
}

.linkLineSum{
	width: 140px;
	height: 1px;
	background: #9f9f9f;
	vertical-align: middle;
	margin-left: 5px;
	margin-bottom: 5px;
	display: inline-block;	
}

#unit{
	float:right;
	margin-right: 30px;
	font-family: 'Noto Serif KR', serif;
	font-size: 12px;
}
/* #commonTitle { */
/* 	width: 120px; */
/* 	float: right; */
/* 	text-align: center; */
/* 	margin-right: 30px; */
/* 	margin-bottom: 0px; */
/* 	font-family: 'Noto Serif KR', serif; */
	
/* } */

.flood {
	width: 90px;
	float: right;
	margin-right: 20px;
	font-family: 'Noto Serif KR', serif;
}

/* 버튼 */
.btn-primary {
	margin-top: 5px;
/* 	margin-left: 20px; */
	font-family: 'Noto Serif KR', serif;
	width: 90%;
}

#scShot{
	width:76px;
	margin-bottom:5px;
/* 	font-family: 'Noto Serif KR', serif; */
	margin-left:5px;
}
/* 자료 출력 버튼 */
#baseFRiskPrint {
	width:85px;
	margin-bottom:5px;
	font-family:'Noto Serif KR', serif;
	text-align:center;
	margin-left:10px;
}

#synthesisPrint{
	width:85px;
	margin-bottom:5px;
	font-family:'Noto Serif KR', serif;
	text-align:center;
	margin-left:10px;
}

.btn-outline-secondary{
	height:23px;
	width:45px;
}
.fas fa-camera{
	color: red;
}

/* toggle버튼  */
#toggle{
	text-align:center;
/* 	font-family: 'Noto Serif KR', serif; */
	margin-top: 7px;
}

/* The switch - the box around the slider */
.switch {
/* 	margin-left:150px; */
	position: relative;
	display: inline-block;
	width: 45px;
	height: 25px;
	vertical-align: middle;
	margin-top: 4px;
}
.switch2{
	
/* 	margin-left:60px; */
	position: relative;
	display: inline-block;
	width: 45px;
	height: 25px;
	vertical-align: middle;
}

/* Hide default HTML checkbox */
.switch input {
	display: none;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .3s;
	transition: .3s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 20px;
	width: 20px;
	left: 3px;
	bottom: 2.5px;
	background-color: white;
	-webkit-transition: .3s;
	transition: .3s;
}

input:checked+.slider {
	background-color: #FFA000;
}

input:focus+.slider {
	box-shadow: 0 0 1px #FFA000;
}

input:checked+.slider:before {
	-webkit-transform: translateX(20px);
	-ms-transform: translateX(20px);
	transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 28px;
}

.slider.round:before {
	border-radius: 50%;
}

/* 침수 상대/절대 표시 텍스트 */
.legendText {
	display:inline-block;
}
.onOff {
	display:inline-block;
	margin-right:5px;
	margin-top:5px;
}
.onOffText{
	font-size: 16px;
}

p {
	margin:0px;
	display:inline-block;
	font-size:15px;
	
}

/* 색 선택 */
.colorPick2{
/* 	text-align:center; */
	font-family: 'Noto Serif KR', serif;
/* 	margin-left:100px; */
float:right;
margin-right:5px;
	margin-top:5px;
}


/* 줌인, 줌 아웃 위치 조정  */
.ol-zoom {
/* 	position: absolute; */
	top: 60px;
	left:98%;
/* 	margin-left: 2250px; */
}

/* 축척 위치 조정  */
.ol-scale-bar {
	position: absolute;
	border-radius: 4px;
	padding: 1px;
	right: 50px;
	bottom:20px;
	left:84%;
}

.ol-scale-line {
    background: rgba(0,60,136,.3);
    border-radius: 4px;
    bottom: 26px;
    left: 90%;
    padding: 2px;
    position: absolute;
}

.ol-scale-line-inner {
	
    border: 1px solid #eee;
    border-top: none;
    color: #eee;
    font-size: 12px;
    text-align: center;
    margin: 1px;
    will-change: contents,width;
    transition: all .25s;
}    

.ol-scale-step-marker{
	display: none;
}

.ol-scale-singlebar {
    display: none;
}

.ol-scale-step-text{
	display:none;
}

.ol-attribution{
	display:none;
}

.ol-scale-text {
    position: absolute;
    display: flex;
    left:50%;
    font-size: 14px;
    text-align: center;
    bottom: 32px;
    color: #000;
}

#toggleBtn{
	width:315px;
	}

.fa-info-circle{
	opacity:0.8;
	color: gray;
	right: 0;
}
